/* ==== RESET HTML ==== */
*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* ==== GLOBAL SETTINGS ==== */
body {
  font-family: 'Lato', Verdana, Arial, sans-serif;
  font-size: 1.5rem;
  color: #90EE90;
  background-color: #212121;
}
main {
  max-width: 960px;
  margin: 0 auto;
}

/* ==== HEADER ==== */
header {
  background: #5A5A5A;
  text-align: center;
  padding: 2em;
}
header img {
  max-width: 96px;
}
header h1 {
  font-size: 2.5em;
}
h1, h2 {
  text-align: center;
}

/* ==== FORM ==== */
label {
  display: block;
  margin-bottom: 0.5em;
}
.new-member-form {
  margin: 1rem 0 2rem 0;
  text-align: center;
}
.member-item {
  padding: 0.25em 0;
}
.member-list-container {
  /*background: #212121;*/
}

/* ==== Title container ==== */
.member-list-title {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-gap: 0;
  align-self: start;
}
.member-title {
  grid-column: 2 / 3;
  justify-self: center;
}
#total-count {
  align-self: center;
  justify-self: start;
}

/* ==== dynamic DOM member list container ====*/
#list_member_container {
  grid-row: common-top / common-bottom;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  align-self: start;
}
.member-list {
  background: #2F2F2F;
  padding-left: 1rem;
  padding-right: 1rem;
}
.count {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 12.5rem;
  background: #f76c6c;
  color: #000000;
  padding-top: 0.3rem;
}
.member-count {
  transform: translateY(-1.25rem);
}

/* ==== FOOTER ==== */
footer {
  margin-top: 2em;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
}
