<!doctype html>
{% load static %}
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Equipage Argonautes!</title>
  <link rel="icon" type="image/png"
        href="{% static 'argonautes/img/WildCodeSchool_favicon_32x32.png' %}"/>
  <link rel="stylesheet"
        href="{% static 'argonautes/css/style.css' %}"/>

</head>
  <body>
    <!-- Header section -->
    <header>
      <h1>
        <img src="{% static 'argonautes/img/WildCodeSchool-logo_96x32.png'%}"
             alt="Wild Code School logo" />
        Les Argonautes
      </h1>
    </header>

    <!-- Main section -->
    <section>
      <!-- New member form -->
      <h2>Ajouter un(e) Argonaute</h2>
      <form id="member-form" method="POST" class="new-member-form">
        {% csrf_token %}
        <label for="name">Nom de l&apos;Argonaute</label>
        <input id="name" name="name" type="text" placeholder="Nom de l'équipier" required/>
        <input id="send-button" type="submit" value="Envoyer">
      </form>

      <!-- Member list -->
      <div class="member-list-container">
        <div class="member-list-title">
          <h3 class="member-title">Membres de l'équipage:&nbsp;</h3>
          <h3 class="count" id="total-count"></h3>
        </div>
        <br />
        <div id="team-list-section">
        </div>
      </div>
    </section>

    <footer>
      <p>Réalisé par Jason en Anthestérion de l'an 515 avant JC</p>
      <p>
          <img src="{% static 'argonautes/img/HTML5_Logo_32.png' %}"
               alt="HTML5 logo" />
          <a href="https://jigsaw.w3.org/css-validator/check/referer">
              <img style="border:0;width:88px;height:31px"
                   src="{% static 'argonautes/img/vcss.png' %}"
                   alt="CSS Valide logo !" />
          </a>
      </p>
    </footer>

    {# Send Django Views data to JavaScript in safe mode #}
    {# Details: https://adamj.eu/tech/2020/02/18/safely-including-data-for-javascript-in-a-django-template/#}
    {# See 'dj-to-js-data.js' for specific Django to JavaScript exchange #}
    {{ django_url|json_script:"django_url" }}
    {{ boot_page_db|json_script:"boot_page_db" }}

    <!-- The JS lib allowing to use websocket by autobahn. -->
    <script src="{% static 'argonautes/js/autobahn/autobahn.min.js' %}"></script>
    <!-- The JS lib allowing to use jQuery. -->
    <script src="{% static 'argonautes/js/jquery/jquery-3.5.1.min.js' %}"></script>
    <!-- Call JS app script -->
    <script src="{% static 'argonautes/js/argonautes/dj-to-js-data.js' %}"></script>
    <script src="{% static 'argonautes/js/argonautes/main.js' %}"></script>
    <script src="{% static 'argonautes/js/argonautes/js-form.js' %}"></script>
    <script src="{% static 'argonautes/js/argonautes/functions/tools.js' %}"></script>
  </body>
</html>